
@import "bulma-0.8.0/sass/utilities/initial-variables";
@import "bulma-0.8.0/sass/utilities/functions";

/* lights */
$turned-on: #C00C30;
$turned-on-invert: findColorInvert($turned-on);

$primary: #1A3B88;
$dark: #001E57;
$light: #002F87;
$black: #363636;

@import "bulma-0.8.0/sass/utilities/derived-variables";
$addColors: (
  "turned-on":($turned-on, $turned-on-invert)
);
$colors: map-merge($colors, $addColors);

@import "bulma-0.8.0/bulma";

.notification:not(:last-child) {
	margin-bottom: 0.2rem;
}

body {
	background: $black;
}

.modal-card-foot {
	justify-content: flex-end;
	padding: 10px;
}

.modal-card-title {
	font-size: 1.0rem;
}

.modal-card-body {
	padding: 0;
}


.navbar-menu {
}
