
@import "bulma-0.8.0/sass/utilities/initial-variables";
@import "bulma-0.8.0/sass/utilities/functions";

/* lights */
$turned-on: #FEE467;
$turned-on-invert: findColorInvert($turned-on);

$primary: #1A3B88;
$dark: #0E2B6F;
$light: #33529B;
$black: #363636;

@import "bulma-0.8.0/sass/utilities/derived-variables";
$addColors: (
  "turned-on":($turned-on, $turned-on-invert)
);
$colors: map-merge($colors, $addColors);

@import "bulma-0.8.0/bulma";

.notification:not(:last-child) {
	margin-bottom: 0.2rem;
}

body {
	height: 100vh;
	background: $primary;
	color: $white;
}

.modal-card-foot {
	justify-content: flex-end;
	padding: 10px;
}

.modal-card-title {
	font-size: 1.0rem;
}

.modal-card-body {
	padding: 0;
}

.navbar-menu {
	background: $primary;
}